<div class="container-fluid" ng-controller="artesanoReviewsControlador">
    <div class="row">
        <div>
            <h2 class="detail-fg">Reviews</h2>
            <div class="pull-right">
                <button class="btn btn-add-detail add-review" data-toggle="modal" ng-click="prepareToAddReview()">&plus;</button>
            </div>
        </div>
        <div class="pre-scrollable" id="style-2" style="width: 100%">
            <div class="force-overflow">
                <div ng-repeat="review in currentArtesano.reviews">
                    <div class="thumbnail col-lg-12" style="position: relative; background-color: transparent; border: transparent">
                        <div class="thumbnail col-lg-11" style="background-color:white;position: absolute; height: 100%; opacity: 0.6;"></div>
                        <div style="position: relative">
                            <span class="col-lg-1 badge">{{review.puntuacion | number : 0}}</span>
                            <p class="col-lg-8" style="color: #212121; font-weight: bold">{{review.comentario}}</p>
                            <div class="pull-right reviews-box">
                                <button class="btn btn-review btn-review-update" ng-click="openUpdateReview($index)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <br>
                                <button class="btn btn-review btn-review-remove" ng-click="eliminarReview($index)">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>