<div class="container-fluid" ng-controller="artesanoReviewsControlador">
    <div class="row">
        <div>
            <h2 class="detail-fg">Reviews</h2>
            <div class="pull-right">
                <button class="btn btn-add-detail add-review" data-toggle="modal" data-target="#agregarReview">&plus;</button>
            </div>
        </div>
        <div class="pre-scrollable" id="style-2" style="width: 100%">
            <div class="force-overflow">
                <div ng-repeat="review in currentArtesano.reviews">
                    <div class="thumbnail col-lg-12" style="position: relative; background-color: transparent; border: transparent">
                        <div class="thumbnail col-lg-11" style="background-color:white;position: absolute; height: 100%; opacity: 0.6;"></div>
                        <div style="position: relative">
                            <span class="col-lg-1 badge">{{review.puntuacion | number : 0}}</span>
                            <p class="col-lg-8" style="color: #212121; font-weight: bold">{{review.comentario}}</p>
                            <div class="pull-right reviews-box">
                                <button class="btn btn-review btn-review-update" ng-click="openUpdateReview($index)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <br>
                                <button class="btn btn-review btn-review-remove" ng-click="eliminarReview($index)">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Eliminar-->
    <div class="modal fade" role="dialog" id="eliminarReview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar Review</h4>
                </div>
                <div class="modal-body">
                    <h4>¿Seguro que desea eliminar el Review?</h4>
                    <hr>
                    <h5><strong>Id:</strong> {{reviewToRemove.id}}</h5>
                    <h5><strong>Puntuación:</strong> {{reviewToRemove.puntuacion}}</h5>
                    <p><strong>Comentario:</strong> {{reviewToRemove.comentario}}</p>
                </div>
                <div class="modal-footer">
                    <div class="row center-block text-center">
                        <button class="option btn btn-success" type="submit" ng-click="eliminarDefinitivo()">
                            Aceptar
                        </button>
                        <button class="option btn btn-danger" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Agregar-->
    <div class="modal fade" role="dialog" id="agregarReview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="resetStars()">&times;</button>
                    <h4 class="modal-title">Agregar Review</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form>
                            <div class="text-center" ng-mouseleave="showSelectedStar()">
                                <button class="btn star" id="star1" ng-mouseover="overStar(1)" ng-mouseleave="leaveStar(1)"
                                        ng-click="setDefaultStar(1)">
                                    ★
                                </button>
                                <button class="btn star" id="star2" ng-mouseover="overStar(2)" ng-mouseleave="leaveStar(2)"
                                        ng-click="setDefaultStar(2)">
                                    ★
                                </button>
                                <button class="btn star" id="star3" ng-mouseover="overStar(3)" ng-mouseleave="leaveStar(3)"
                                        ng-click="setDefaultStar(3)">
                                    ★
                                </button>
                                <button class="btn star" id="star4" ng-mouseover="overStar(4)" ng-mouseleave="leaveStar(4)"
                                        ng-click="setDefaultStar(4)">
                                    ★
                                </button>
                                <button class="btn star" id="star5" ng-mouseover="overStar(5)" ng-mouseleave="leaveStar(5)"
                                        ng-click="setDefaultStar(5)">
                                    ★
                                </button>
                            </div>
                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <label for="commentReview">Comment:</label>
                                <textarea class="form-control" rows="4" id="commentReview"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row center-block text-center">
                        <button class="option btn btn-success" data-dismiss="modal" type="submit" ng-click="agregarReview()">
                            Aceptar
                        </button>
                        <button class="option btn btn-danger" data-dismiss="modal" ng-click="resetStars()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Update-->
    <div class="modal fade" role="dialog" id="updateReview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="upResetStars()">&times;</button>
                    <h4 class="modal-title">Actualizar Review</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form>
                            <div class="text-center" ng-mouseleave="upShowSelectedStar()">
                                <button class="btn star" id="upStar1" ng-mouseover="upOverStar(1)" ng-mouseleave="upLeaveStar(1)"
                                        ng-click="upSetDefaultStar(1)">
                                    ★
                                </button>
                                <button class="btn star" id="upStar2" ng-mouseover="upOverStar(2)" ng-mouseleave="upLeaveStar(2)"
                                        ng-click="upSetDefaultStar(2)">
                                    ★
                                </button>
                                <button class="btn star" id="upStar3" ng-mouseover="upOverStar(3)" ng-mouseleave="upLeaveStar(3)"
                                        ng-click="upSetDefaultStar(3)">
                                    ★
                                </button>
                                <button class="btn star" id="upStar4" ng-mouseover="upOverStar(4)" ng-mouseleave="upLeaveStar(4)"
                                        ng-click="upSetDefaultStar(4)">
                                    ★
                                </button>
                                <button class="btn star" id="upStar5" ng-mouseover="upOverStar(5)" ng-mouseleave="upLeaveStar(5)"
                                        ng-click="upSetDefaultStar(5)">
                                    ★
                                </button>
                            </div>
                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <label for="upCommentReview">Comment:</label>
                                <textarea class="form-control" rows="4" id="upCommentReview"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row center-block text-center">
                        <button class="option btn btn-success" data-dismiss="modal" type="submit" ng-click="confirmarUpdate()">
                            Aceptar
                        </button>
                        <button class="option btn btn-danger" data-dismiss="modal" ng-click="upResetStars()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view="childrenView"></div>