<div class="container-fluid" ng-controller="artesanoArtesaniasControlador">
    <div class="row">
        <div class="row">
            <h2 class="col-lg-5 detail-fg">Artesanias</h2>
            <div class="pull-right btn-group-detail">
                <button class="btn btn-add-detail" data-toggle="modal" ng-click="prepareToAddArtesania()">&plus;</button>
                <button class="btn btn-edit" ng-click="switchEditArtesanias()" id="updateArtesaniasButton"><span
                        class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-remove-detail" ng-click="switchRemoveArtesanias()" id="removeArtesaniasButton">&times;</button>
            </div>
        </div>
        <div class="pre-scrollable" id="style-2">
            <div class="force-overflow">
                <div ng-repeat="artesania in currentArtesano.artesanias">
                    <!--Wrapper-->
                    <div class="col-lg-4" style="position:relative; min-height: 180px; ">
                        <div class="col-lg-10 thumbnail cover-artesania" ng-show="artesaniasToRemove[$index]">
                            <h4 class="text-center name-remove-det">{{artesania.nombre}}</h4>
                        </div>
                        <!--Box Transparency-->
                        <div class="col-lg-10 thumbnail" style="min-height: 150px;opacity: 0.3;position:absolute;"></div>
                        <!--Info-->
                        <div class="col-lg-12 thumbnail" style="position: relative; background-color: transparent; border: transparent">
                            <p style="color: white; " class="text-center"> {{artesania.nombre}}</p>
                            <img ng-src="{{artesania.imagen}}" style="min-height:100px;">
                        </div>
                        <div>
                            <button class="btn btn-edit btn-det-detail" ng-show="editArtesaniasEnabled" ng-click="editArtesania($index)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-remove-detail btn-det-detail" ng-show="removeArtesaniasEnabled"
                                    ng-click="prepareToRemoveArtesania($index)">&times;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>