<!--Wrapper-->
<div class="panel panel-default" style="position: relative;" ng-controller="feriaDetailControlador">
    <div class="blur" style="position: absolute;width:100%;height: 300px;">
        <img ng-src="{{currentFeria.image}}" class="detail-bg">
    </div>
    <div style="position: absolute; width: 100%; height: 100%; background-color: black; opacity: 0.4 "></div>
    <div style="position: relative">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive img-detail" ng-src="{{currentFeria.image}}"/>
                </div>
            </div>
            <div class="detail-fg col-md-3">
                <h3>
                    {{currentFeria.nombre}}
                    <button class="btn btn-default btn-edit" ng-click="updateFeria()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </h3>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a class="detail-fg" ng-click="switchBoletas()">Boletas</a></li>
                    <li role="presentation"><a class="detail-fg" ng-click="switchEspacio()">Espacio</a></li>
                </ul>
                <div class="detail-fg">
                    <p><strong>Inicio:</strong> {{currentFeria.inicio | date:'dd/MMMM/yyyy'}}</p>
                    <p><strong>Fin:</strong> {{currentFeria.fin|date:'dd/MMMM/yyyy'}}</p>
                    <p><strong>Total Boletas:</strong> {{currentFeria.totalBoletas}}</p>
                    <p><strong>Descuento Menores:</strong> {{currentFeria.descuentoMenores}}</p>
                    <p><strong>Descuento Mayores</strong> {{currentFeria.descuentoMayores}}</p>
                </div>
            </div>
            <div ng-show=""></div>
            <div class="col-md-6">
                <boletas-list boletas="currentFeria.boletas" feria="currentFeria" ng-show="showBoletas"></boletas-list>
                <espacio-detail espacio="currentFeria.espacio" ng-show="showEspacio"></espacio-detail>
            </div>
        </div>
    </div>
    <!--Modal Update-->
    <div class="modal fade" role="dialog" id="updateFeria">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Actualizar Feria</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="alerta">
                        <strong>Error!</strong><span id="infoError"></span>
                    </div>
                    <div class="row">
                        <!--Imagen-->
                        <div class="col-lg-3 thumbnail" style="max-height: inherit; min-height: inherit;margin: 5px;">
                            <button class="btn btn-default">Cargar Imagen</button>
                        </div>
                        <!--Formulario-->
                        <form class="col-lg-8">
                            <!--Nombre-->
                            <div class="form-group">
                                <label for="unombre">Nombre</label>
                                <input type="text" class="form-control" id="unombre">
                            </div>
                            <!--Inicio-->
                            <div class="form-group">
                                <label for="uinicio">Inicio</label>
                                <input class="form-control" data-provide="datepicker" id="uinicio">
                            </div>
                            <!--Fin-->
                            <div class="form-group">
                                <label for="ufin">Fin</label>
                                <input class="form-control" data-provide="datepicker" id="ufin">
                            </div>
                            <!--Total Boletas-->
                            <div class="form-group">
                                <label for="utotalb">Total Boletas</label>
                                <input type="number" class="form-control" id="utotalb">
                            </div>
                            <!--Descuento Menores-->
                            <div class="form-group">
                                <label for="udmenores">Descuento Menores (%)</label>
                                <input type="number" class="form-control" id="udmenores" min="0" max="100">
                            </div>
                            <!--Descuento Mayores-->
                            <div class="form-group">
                                <label for="udmayores">Descuento Mayores (%)</label>
                                <input type="number" class="form-control" id="udmayores" min="0" max="100">
                            </div>
                            <!--Espacio-->
                            <div class="form-group">
                                <label for="uespacio">Espacio</label>
                                <select id="uespacio" ng-model="espacioSeleccionado" class="form-control"
                                        ng-options="s.nombre for s in sites"></select>
                            </div>
                            <!--Botones de Confirmación-->
                            <div class="row ">
                                <button class="option col-sm-5 col-lg-5 btn btn-default btn-success" type="submit" ng-click="confirmUpdate()">
                                    Aceptar
                                </button>
                                <button class="option col-sm-5 col-lg-5 btn btn-default btn-danger" data-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>